mqtt/data/*
!mqtt/data/.gitkeep
mqtt/config/*
!mqtt/config/.gitkeep
!mqtt/config/mosquitto.conf
mqtt/log/*
!mqtt/log/.gitkeep
nodered/data/*
!nodered/data/.gitkeep
influxdb/data/*
!influxdb/data/.gitkeep
influxdb/config/*
!influxdb/config/.gitkeep
grafana/data/*
!grafana/data/.gitkeep
